<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div *ngIf="!selected">
    <ion-list>
      <button ion-item *ngFor="let item of items" (click)="itemSelected($event, item)">
        <img height="50px" src="{{item.icon}}" item-start>
        <div class="item-note">
          {{ item.name }}
        </div>
        <div class="item-note" item-end>
          {{ item.inStock }}
        </div>
      </button>
    </ion-list>
  </div>
  <div *ngIf="selected">
    <ion-card>
      <img width="100" src="{{selected.icon}}" />
      <ion-card-content>
        <ion-card-title>
          {{selected.name}}
        </ion-card-title>
        <p>
          {{selected.name}}
        </p>
      </ion-card-content>
    </ion-card>
  </div>
  <p>
    <a href="http://ionicframework.com/docs/v2">docs</a>
  </p>
</ion-content>
